<div class="center hero-unit">
  <h1>Welcome to The Big Drink</h1>

  <h2>
    This is the home page for The Big Drink.
  </h2>

	<%= link_to 'Log In', Koala::Facebook::OAuth.new.url_for_oauth_code(:callback => oauth_redirect_url) %>
</div>

<h2>Drinks</h1>

<%= will_paginate @drinks %>

<ul class="drinks">
  	<%= render @drinks %>
</ul>

<%= will_paginate @drinks %>