<div class="center hero-unit">
  <h1>Welcome to The Big Drink</h1>

  <h2>
    This is the home page for The Big Drink.
  </h2>

  <%= link_to "Connect to Facebook!", '#', class: "btn btn-large btn-primary" %>
</div>