<div id="drink_actions">
<% if !@user %>
	<%= render 'drinks/drink_it_login' %>
<% elsif drink.drank_by?(@user) %>
	<%= render 'drinks/drank' %>
<% else %>
	<%= render 'drinks/drink_it', drink: drink  %>
<% end %>
</div>