@import "bootstrap";


/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  padding-bottom: 40px;
  background: #F5EEE3 url("../images/bg-tile.png") repeat;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}


/* footer */
footer {
  color: #B3AC9F;
  width: 125px;
  margin: 0 auto;
  clear: both;
  text-shadow: 0 1px 0 white;
  text-align: center;
  background-color: white;
  padding: 4px;
  border: 1px solid #DDD;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }
}

.foot-spacer{
  margin: 10px 0 10px 0;
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

.form-drink-actions {
  display: inline;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
  color:#f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* venues index */

.venues {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* drinks */

.drinks {
  list-style: none;
  margin: 10px 0 0 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

.description {
  display: block;
}

.sidebar {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

.drink-hover {
  /* position: absolute; */
  /* width: 100%; */
  margin-top: 4px;
  position: relative;
  
}

.btn-comment:hover {

}

img.drink {
  margin-top: -25px;
}

.thumbnail .drink-actions {
  visibility: hidden;
}

.thumbnail:hover .drink-actions {
  visibility: visible;
}

.drink-actions {
  text-align: center;
}

.drink-row {
  margin-top: -2px;
  margin-right: -4px;
  margin-bottom: -4px;
  margin-left: -4px;
  padding-top: 8px;
  padding-right: 10px;
  padding-bottom: 2px;
  padding-left: 11px;
  background-color: #F2F0F0;
  border-top: 1px solid #D9D4D4;
  box-shadow: inset 0 1px #FCFAFA;
  -moz-box-shadow: inset 0 1px #fcfafa;
  -webkit-box-shadow: inset 0 1px #FCFAFA;
}

.drink-row-convo {
  margin-left: 36px;
}

/* users */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

.info-box {
  background-color: white;
  padding: 20px;
  border: 1px solid #DDD;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}

.profile-pic {
  float: left;
  margin: 8px;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

.avatar {
  float: left;
  margin-right: 10px;
}

.avatar-small {
  width: 16px;
  height: 16px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.avatar-mini {
  width: 30px;
  height: 30px;
  float: left;
  margin-right: 6px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}



@import "bootstrap-responsive";


/* bootstrap customizations */

.thumbnail {
  background-color: white;
}

.hero-unit {
  background-color: white;
  padding: 20px;
  border: 1px solid #DDD;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}

.navbar .brand {
	font-family: 'Cabin Sketch', cursive;
	font-size: 36px;
	color: #CCC;
	position: absolute;
	left: 43%;
	text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
}

.navbar-search {
    position: relative;
}
  
.navbar-search .search-query {
    padding-left: 29px;
}

.navbar-search .icon-search {
    position: absolute;
    top: 6px;
    left: 11px;
    background-image: url("http://twitter.github.com/bootstrap/assets/img/glyphicons-halflings-white.png");
}

.navbar-search .search-query:focus, .navbar-search .search-query.focused {
    padding-left: 30px;
}

.search-query:focus + .icon-search {
    background-image: url("http://twitter.github.com/bootstrap/assets/img/glyphicons-halflings.png");
}

.btn-inverse {
	margin-left: 5px;
  	margin-right: 5px;
  	background-color: #2c2c2c;
  	background-image: -moz-linear-gradient(top, #333333, #222222);
  	background-image: -ms-linear-gradient(top, #333333, #222222);
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
  	background-image: -webkit-linear-gradient(top, #333333, #222222);
  	background-image: -o-linear-gradient(top, #333333, #222222);
  	background-image: linear-gradient(top, #333333, #222222);
  	background-repeat: repeat-x;
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF333333', endColorstr='#FF222222', GradientType=0);
  	border-color: #222222 #222222 black;
  	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
  	*background-color: #222222;
  	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
  	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
  	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
}

.btn-signin {
	color: #999;
}

.btn-inverse .icon-grey {
	opacity: .7;
}

@media (max-width: 979px) {
  .nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
    text-align: center;
  }

  .no-collapse {
	display: none;
  }

  .navbar .brand {
	font-size: 42px;
  }
}

/* responsive brand-center customizations */
@media (min-width: 970px) and (max-width: 1062px) {
  .navbar .brand { left: 39%; }
}

@media (min-width: 710px) and (max-width: 969px) {
  .navbar .brand { left: 37%; }
}


@media (min-width: 655px) and (max-width: 709px) {
  .navbar .brand { left: 34%; }
}

@media (min-width: 535px) and (max-width: 654px) {
  .navbar .brand { left: 31%; }
}

@media (min-width: 490px) and (max-width: 534px) {
  .navbar .brand { left: 26%; }
}

@media (max-width: 489px) {
  .navbar .brand { left: 21%; }
}

