<footer class="footer well">
  <small>
    A hack by <a href="http://www.ajarora.com/">AJ Arora</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", 'mailto:ajarora@me.com' %></li>
    </ul>
  </nav>
<%= yield :scripts %>
</footer>