<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "the big drink", root_path, class: "brand" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "drinks", drinks_path %></li>
          	<li><%= link_to "bars", venues_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>